
     
.card img:hover{

    transform : scale(1.1)
}
.card-top{
   display: flex,
   min-width 0,
   word-wrap break-word,
   background-color rgb(223, 223, 213)
   background-clip border-box,
   position relative,
   flex-direction column,
   border 1px solid black

}
.flex{
    display: flex;
    justify-content: space-evenly;
}



